%data-grid {
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
  color: #272222;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2em;
  grid-auto-flow: dense;
  align-items: center;
}

%grid-cell {
  p {
    margin: 0;
  }
}

.data-header {
  @extend %data-grid;
  display: none;

  .data-cell {
    @extend %grid-cell;
  }
}

.data-row {
  font-weight: normal;
  font-size: 14px;

  @extend %data-grid;
  .data-cell {
    @extend %grid-cell;
    &:nth-child(1) {
      font-weight: 500;
    }
    &:nth-child(2) {
      font-size: 18px;
      font-weight: 300;
      color: #404040;
      padding: 5px 0;
    }
    &:nth-child(3) {
      font-size: 16px;
      color: #ef3556;
    }
    &:last-child {
      text-align: right;
    }
  }
}

.card + .card {
  margin-top: 20px;
}

.remove-favorites {
  line-height: 24px;
  background: #fcfbfb;
  border: 1px solid #f5eee7;
  box-sizing: border-box;
  border-radius: 3px;
  color: #272222;
  cursor: pointer;
  transition: 500ms cubic-bezier(0.2, 0.8, 0.2, 1);
  &:hover {
    color: #f14444;
  }
}

@media (min-width: 576px) {
  %data-grid {
    grid-template-columns:
      minmax(100px, 1fr)
      minmax(150px, 3fr)
      minmax(90px, 1fr)
      minmax(60px, 1fr);
  }

  .data-header {
    display: grid;
    font-weight: 500;
    font-size: 18px;
  }

  .data-row {
    .data-cell {
      &:nth-child(1) {
        font-weight: normal;
      }
      &:nth-child(2) {
        font-size: 14px;
        font-weight: normal;
        color: #272222;
        padding: 0;
      }
      &:nth-child(3) {
        font-size: 14px;
        color: #272222;
      }
    }
  }
}
