.details {
  display: grid;
  grid-template-columns: 1fr;

  .picture {
    width: 100%;
    height: 100%;
    padding: 2em;
    background: #fcfbfb;
    text-align: center;
    display: grid;
    align-items: center;
    img {
      justify-self: center;
      object-fit: cover;
      width: 80%;
    }
  }

  .info {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    p {
      margin: 0;
    }

    .brand {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: normal;
      color: #272222;
    }

    .model {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: normal;
      color: #404040;
    }

    .data-table {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      align-items: center;
      margin: 20px 0;

      .data-cell {
        background: #fcfbfb;
        border: 1px solid #f5eee7;
        box-sizing: border-box;
        padding: 5px 10px;

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: normal;
          text-transform: uppercase;
          color: #ef3556;
          display: inline-block;
          min-width: 50px;
          margin-right: 10px;
          border-right: 1px solid #f5eee7;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: normal;
          color: #404040;
          display: inline-block;
        }
      }
    }

    .value {
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 36px;
      line-height: normal;
      color: #404040;
    }

    .reference {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      color: #ef3556;
    }

    .col:last-child {
      text-align: center;
    }

    .btn-favorite {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: normal;
      text-align: center;
      color: #404040;
      background: #fcfbfb;
      margin-top: 20px;
      padding: 0 15px;
      height: 40px;
      border: 1px solid #f5eee7;
      box-sizing: border-box;
      border-radius: 3px;
      cursor: pointer;
      transition: 500ms cubic-bezier(0.2, 0.8, 0.2, 1);

      i {
        color: #f14444;
        font-size: 20px;
        font-style: normal;
        display: inline-block;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
      }

      &.favorited {
        background: #f14444;
        color: #fcfbfb;
        border: 0;

        i {
          color: #fcfbfb;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .details {
    grid-template-columns: 25% 1fr;

    .picture {
      padding: 0;
    }

    .info {
      grid-template-columns: 1fr 1fr;

      .brand {
        font-size: 36px;
      }

      .data-table {
        grid-template-columns: repeat(3, 1fr);

        .data-cell {
          span {
            font-size: 14px;
            border-right: 0;
          }

          p {
            display: block;
          }
        }
      }

      .col:last-child {
        text-align: right;
      }
    }
  }
}
