header {
  background: linear-gradient(
    79.51deg,
    #f14444 0%,
    #f2b65d 48.96%,
    #ef3556 100%
  );

  .container {
    margin: 0 auto;
    padding: 2em;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2em;
    align-items: center;
  }

  .logo-wrapper {
    justify-self: start;

    .logo {
      /* Carborit */
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 1em;
      text-decoration: none;
      color: #fcfbfb;
      margin: 0;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }

    .slogan {
      /* A simple vehicle bookmarking app. */
      display: none;
    }
  }

  .header-navigation {
    justify-self: end;
    .myfavorites {
      /* favorites-button */
      display: block;
      padding: 0 10px;
      border: 2px solid #f5eee7;
      text-decoration: none;
      box-sizing: border-box;
      border-radius: 5px;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: normal;
      outline: none;
      color: #f5eee7;
      transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);

      i {
        font-style: normal;
      }

      span {
        display: none;
      }

      &:hover {
        background-color: rgba(252, 251, 251, 0.75);
        color: #ef3556;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

@media (min-width: 576px) {
  header {
    .logo-wrapper {
      .logo {
        /* Carborit */
        font-size: 48px;
      }
      .slogan {
        /* A simple vehicle bookmarking app. */
        display: block;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: normal;
        color: #fed6b2;
        margin: 0;
      }
    }
    .header-navigation {
      .myfavorites {
        /* favorites-button */
        padding: 10px 25px;
        font-size: 18px;
        i {
          display: none;
        }
        span {
          display: inline;
        }
      }
    }
  }
}
