.filters {
  display: grid;
  max-width: 1440px;
  width: 100%;
  padding: 20px 40px 0;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  align-items: center;
  grid-column-gap: 30px;

  .formgroup {
    position: relative;
    i {
      position: absolute;
      height: 38px;
      width: 38px;
      right: 1px;
      bottom: 0;
      top: 0;
      margin: auto;
      background-color: #fff;
      border-radius: 0 5px 5px 0;
      margin: auto;
      transition: 300ms cubic-bezier(0.2, 0.8, 0.2, 1);
      &:after {
        content: '\203A';
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-style: normal;
        display: block;
        color: #bebaba;
        font-size: 38px;
        transform: rotate(0.25turn);
      }
    }

    select {
      transition: 300ms cubic-bezier(0.2, 0.8, 0.2, 1);
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
      &:disabled {
        transform: scale(0.9);
        box-shadow: none;
      }
      &:disabled + i {
        transform: scale(0) translateX(-80px);
      }
    }
  }
}
